<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adf-upsert-sql-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0b27a8e5-efdf-4022-9d6b-1e0202072465/resourceGroups/bhs-dwbi-prod/providers/Microsoft.Web/sites/adf-upsert-sql-func</ResourceId>
    <PublishUrl>https://adf-upsert-sql-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>